/*Style sheet for page index.html*/

body{
    width: 100%;
    height:1000px;
    background-color:black;
    margin: auto;
}

.page-content{
    font-size: 16px;
    width: 100%;
    height:100%;
}


/* Start of the styles for the header*/

.sitenav{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: center;
    height:5%;
    align-items: center;
    font-family: fantasy;

}

.sitenav a {
    text-decoration: none;
    margin-right: 20px;
    color:white;
    font-size: 1.25em;
}

.sitenav a:last-child{
    margin-right: 0;
}


.company-logo hr {
    display: block;
    margin: auto;
    color:grey;
}
.company-logo img{
    width:20%;
    display: block;
    margin: 0 auto;
}

/* Start of the styles for the main content*/

.main-content{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.hero-content{
    width: 95%;
    height: 250px;
    display: flex;
    background-color: white;
    font-size: 2.0em;
    justify-content: center;
}


.profile-container
{
    width: 95%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 650px;
    align-content: space-between;
}

.team-profile
{
    width:30%;
    text-align: center;
    margin: 0 auto;
}

.team-profile hr
{
    width:70%;
}



/* Start of Styles for the footer content*/
.global-footer
{
    display: flex;
    color: white;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 1%;
    justify-content: center;
    font-size: 1.25em;

}

.footer-links a {
    text-decoration: none;
    margin-right: 20px;
    color:white;
    font-family: fantasy;
}

.footer-links a:last-child{
    margin-right: 0;
}

.footer-logo
{
width:33%;
}
.footer-logo img
{
    width:70%;
}

.footer-content
{
    text-align: center;
    width:33%;
}

.footer-content h2
{
    margin-top: 0;
}

.creator-text
{
    width:33%;
    text-align: center;
}

.creator-text h2
{
    margin-top: 0;
}

.team-profile img{
    width:30%;
    height: 150px;
}
